
#Large datasets
/multisensory/results/*
/multisensory/data/*
/data/*

#python
*.pyc
*.ipynb
/nmfTools/data/*
/nmfTools/.idea/*

#media files
*.wav
*.mp4
**/*.wav
**/*.mp4


#pyCharm
.idea/*

# Notebook checkpoints
.ipynb_checkpoints/*

# CSV files
*.csv
/data_csv/*
data_csv/*


**/.ipynb_checkpoints/*

# CSV files
*.csv
**/*.csv
/data_csv/**
data_csv/**

