
#Large datasets
/multisensory/results/*
/multisensory/data/*
/data/*

#python
*.pyc
*.ipynb
/nmfTools/data/*
/nmfTools/.idea/*

#media files
*.wav
*.mp4


#pyCharm
.idea/*

# Notebook checkpoints
.ipynb_checkpoints/*

